body{
    /* padding: 0 10%; */
    font-size: 18px;
    margin:0;
    font-family: sans-serif;
}



.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding:16px 15%;
    align-items: center;
    gap:5%;

}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap:16px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}





.hero{
    display: flex;
    padding:100px 15%;
    flex-direction: row;
    background-color: #1f2937;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* gap:20px; */
}

.left-header{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.left-text{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 18px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    border-radius: 5px;
    margin-top: 6px;
    font-weight: 700;
    font-size: 16px;
    flex-shrink: 0;
}

.right img{
   width: 500px;
    height:200px;
    /* flex-shrink: 1; */
   
}




.info{
    padding:50px 0 100px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.info-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 50px;
    text-align: center;
}

.cards{
    display: flex;
    gap:75px;
    flex-wrap: wrap;
    justify-content: center;
}

.card img{
    width:150px;
    height:150px;
    border-radius: 10px;
    border:5px solid #3882f6;
    margin-bottom: 10px;
}

.text{
    text-align: center;
    color: #1f2937;
}

.quote{
    background-color: #e5e7eb;
    padding: 50px 20%;
}

.quote-text{
    font-style:italic;
    font-weight: 100;
    font-size: 36px;
}

.quote-auth{
    text-align: end;
    font-weight: 700;
}




.action{
   background-color: #3882f6;
   display: flex;
   justify-content: space-between;
   margin: 50px 20%;
   padding:25px 5%;
   border-radius: 10px;
   align-items: center;

}

.action-button{
    border:2px solid #f9faf8; 
}

.action-head{
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    /* margin-bottom: px; */
}

.action-text{
    color: #f9faf8;
}


/* .pad{
    padding-left: 15%;
    padding-right:15%;
} */


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding:2%;
}
